<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <script src="//cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>
<div id="Top" th:include="Top :: copy"></div>
<div id="Wrapper">
    <div class="content">
        <div id="Main">
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody>
                        <tr>
                            <td width="73" valign="top" align="center">
                                <img th:src="@{'/img/avatar/' + ${user.avatar}}" class="avatar" border="0"
                                     align="default"/>
                                <div class="sep10"></div>
                            </td>
                            <td width="10"></td>
                            <td width="auto" valign="top" align="left">
                                <div class="fr"></div>
                                <h1 style="margin-bottom: 5px;" th:text="${user.username}">username</h1>
                                <span class="bigger"></span>
                                <div class="sep10"></div>
                                <span class="gray"
                                      th:text="'&nbsp; 加入于'+${#dates.format(user.joinTime,'yyyy/MM/dd HH:mm')}"><li
                                        class="fa fa-time"></li> &nbsp; 加入时间 }</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="sep5"></div>
                </div>
                <div class="cell" th:if="${user.desc}" th:text="${user.desc}"></div>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell_tabs">
                    <div class="fl"><img th:src="@{'/img/avatar/'+${user.avatar}}" width="24"
                                         style="border-radius: 24px; margin-top: -2px;" border="0"/></div>
                    <a th:href="@{'/member/'+${user.username}}" class="cell_tab_current" th:text="${user.username}+' 创建的所有主题'"></a></div>
                <div class="cell item" style="" th:each="post:${postpage.getContent()}" th:include="postItem::copy"></div>
                <div class="inner"><span class="chevron">»</span> <a th:href="@{'/member/'+${user.username}+'/posts'}"><span
                        th:text="${user.username}+'&nbsp;创建的更多主题(待完成)'"></span></a></div>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell"><span class="gray" th:text="${user.username}+' 最近回复了'">user最近回复了</span></div>
                <div th:include="replyItem::copy" th:each="reply:${replypage.getContent()}"></div>
                <div class="inner">
                    <span class="chevron">»</span>
                    <a  th:href="@{'/member/'+${user.username}+'/replies'}" th:text="${user.username}+'  创建的更多回复'">username 创建的更多回复</a>
                </div>
            </div>
        </div>
        <div id="Rightbar">
            <div class="sep20"></div>
            <div class="box">
                <div class="cell"><img th:src="@{/img/neue_comment.png}" width="18" align="absmiddle" th:text="'&nbsp;'+${user.username}+'最近的时间轴更新'"/>
                </div>
                <div id="statuses">
                </div>
            </div>
            <div class="sep20"></div>
        </div>
    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom" th:include="Bottom :: copy"></div>
</body>
</html>