<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>
<body>
<div id="Top" th:include="Top :: copy"></div>
<div id="Wrapper">
    <div class="content">
        <div id="Main">
            <div class="sep20"></div>
            <div class="box">
                <div class="header"><a href="/">Happy</a> <span class="chevron">&nbsp;›&nbsp;</span>
                    <a th:href="@{'/member/'+${user.username}}" th:text="${user.username}">username</a> <span
                            class="chevron">&nbsp;›&nbsp;</span> 全部主题
                    <div class="fr f12"><span class="snow">主题总数&nbsp;</span> <strong class="gray"
                                                                                     th:text="${postpage.getTotalElements()}">数量</strong>
                    </div>
                </div>

                <div class="cell"
                     th:with="pageNum=${postpage.getTotalPages()}"
                     th:if="${postpage.getTotalPages()>1}"
                     th:include="numberNav::copy"></div>
                <div class="cell item" style="" th:each="post:${postpage.getContent()}" th:include="postItem::copy"></div>
                <div class="cell"
                     th:with="pageNum=${postpage.getTotalPages()}"
                     th:if="${postpage.getTotalPages()>1}"
                     th:include="numberNav::copy"></div>
            </div>

        </div>
        <div id="Rightbar">
            <div class="sep20"></div>
            <div class="box" th:include="memberBox::copy"></div>
            <div class="sep20"></div>
            <div class="sep20"></div>
        </div>
    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom" th:include="Bottom :: copy"></div>
</body>
</html>