<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="Top" th:include="Top :: copy"></div>
<div id="Wrapper">
    <div class="content">
        <div id="Leftbar"></div>
        <div id="Rightbar">
            <div class="sep20"></div>
            <div class="box" th:include="memberBox::copy"></div>
            <div class="sep20"></div>
            <div class="sep20"></div>
        </div>
        <div id="Main">
            <div class="sep20"></div>
            <div class="box">
                <div class="header"><a href="/">happy</a>
                    <span class="chevron">&nbsp;›&nbsp;</span>
                    <a th:href="@{'/member/'+${user.username}}">username</a>
                    <span class="chevron">&nbsp;›&nbsp;</span>
                    <span th:text="'全部回复第 '+${currentpage}+' 页 / 共 '+${replypage.getTotalPages()}+' 页'"></span>
                    <div class="fr f12"><span class="snow">回复总数&nbsp;</span> <strong class="gray"
                                                                                     th:text="${replypage.getTotalElements()}"></strong>
                    </div>
                </div>
                <div class="cell"
                     th:with="pageNum=${replypage.getTotalPages()}"
                     th:if="${replypage.getTotalPages()>1}"
                     th:include="numberNav::copy"></div>
                <div th:include="replyItem::copy" th:each="reply:${replypage.getContent()}"></div>
                <div class="cell"
                     th:with="pageNum=${replypage.getTotalPages()}"
                     th:if="${replypage.getTotalPages()>1}"
                     th:include="numberNav::copy"></div>
            </div>

        </div>
    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom" th:include="Bottom :: copy"></div>
</body>
</html>