<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<body>

<div th:fragment="copy">
    <div class="dock_area">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr>
                <td style="padding: 10px 15px 8px 15px; font-size: 12px; text-align: left;">
                    <div class="fr"><span class="fade" th:text="${reply.modifyTime}">回复时间</span></div>
                    <span class="gray">回复了 <a th:href="@{'/member/'+${reply.post.editor.username}}"
                                              th:text="${reply.post.editor.username}">帖子作者</a> 创建的主题 <span
                            class="chevron">›</span> <a th:href="@{'/go/'+ ${reply.post.topic.name} }"
                                                        th:text="${reply.post.topic.name}">帖子主题</a> <span
                            class="chevron">›</span> <a
                            th:href="@{'/t/'+${reply.post.id}}"
                            th:text="${reply.post.title}">帖子标题</a></span></td>
            </tr>
            <tr>
                <td align="left"><img style="margin-left: 20px; vertical-align:text-bottom;"
                                      th:src="@{/img/arrow.png}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="inner"
         th:classappend="${replypage.getContent().indexOf(reply) == (replypage.getContent().size() -1)} ? 'cell':'inner'">
        <div class="reply_content" th:utext="${reply.content}"></div>
    </div>
</div>

</body>

</html>