<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/style.css}"/>
    <script src="//cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script th:src="@{/js/signup.js}"></script>
</head>
<body>
<div id="Top" th:include="Top :: copy"></div>
<div id="Wrapper">
    <div class="content">
        <div id="Main">
            <div class="sep20"></div>
            <div class="box">
                <div class="header"><a href="/">V2EX</a> <span class="chevron">&nbsp;›&nbsp;</span> 注册</div>
                <div class="inner">
                    <form id="form" method="post" th:action="@{/signup}">
                        <table cellspacing="0" cellpadding="5" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td valign="top" align="right" width="80">
                                    <div class="sep5"></div>
                                    用户名
                                </td>
                                <td align="left" width="auto">

                                    <input id="username" name="username" class="sl" value="" autocorrect="off" spellcheck="false"
                                           autocapitalize="off" type="text"/>
                                    &nbsp;&nbsp;<span class="text-danger" id="username_ok"></span>
                                    <div class="sep5"></div>
                                    <span class="fade">请使用半角的 a-z 或数字 0-9</span></td>
                            </tr>
                            <tr>
                                <td align="right" width="80">密码</td>
                                <td align="left" width="auto"><input id="passwd" name="passwd" class="sl" value="" autocorrect="off"
                                                                     spellcheck="false" autocapitalize="off"
                                                                     type="password"/>
                                    &nbsp;&nbsp;<span class="text-danger" id="passwd_ok"></span></td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" width="80">
                                    <div class="sep5"></div>
                                    电子邮件
                                </td>
                                <td align="left" width="auto"><input id="email" name="email" class="sl" value="" autocorrect="off"
                                                                     spellcheck="false" autocapitalize="off"
                                                                     type="email"/>
                                    &nbsp;&nbsp;<span class="text-danger" id="email_ok"></span>
                                    <div class="sep5"></div>
                                    <span class="fade">请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人</span></td>
                            </tr>
                            <tr>
                                <td align="right" width="80"></td>
                                <td align="left" width="auto"><input class="super normal button" value="注册"
                                                                     type="submit"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div id="Rightbar">
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <strong>V2EX = way to explore</strong>
                    <div class="sep5"></div>
                    <span class="fade">V2EX 是一个关于分享和探索的地方</span>
                </div>
                <div class="inner">
                    <div class="sep5"></div>
                    <div align="center"><a href="/signup" class="super normal button">现在注册</a>
                        <div class="sep5"></div>
                        <div class="sep10"></div>
                        已注册用户请 &nbsp;<a href="/signin">登录</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom" th:include="Bottom :: copy"></div>
</body>
</html>