<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/wangEditor.min.css}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
</head>
<body>
<div id="Top" th:include="Top :: copy"></div>
<div id="Wrapper">
    <div class="content">
        <div id="Leftbar"></div>
        <div id="Rightbar">
            <div class="sep20"></div>
            <div class="box" th:include="memberBox::copy" sec:authorize="isAuthenticated()"></div>
            <div class="box" sec:authorize="isAnonymous()">
                <div class="cell">
                    <strong>V2EX = way to explore</strong>
                    <div class="sep5"></div>
                    <span class="fade">V2EX 是一个关于分享和探索的地方</span>
                </div>
                <div class="inner">
                    <div class="sep5"></div>
                    <div align="center"><a th:href="@{/signup}" class="super normal button">现在注册</a>
                        <div class="sep5"></div>
                        <div class="sep10"></div>
                        已注册用户请 &nbsp;<a href="https://www.v2ex.com/signin">登录</a></div>
                </div>
            </div>
            <div class="sep20"></div>
        </div>
        <div id="Main">
            <div class="sep20"></div>
            <div class="box" style="border-bottom: 0px;">
                <div class="header">
                    <div class="fr">
                        <a th:href="@{'/member/'+${post.editor.username}}">
                            <img
                                    th:src="@{'/img/avatar/'+${post.editor.avatar}}"
                                    class="avatar" border="0" align="default"/></a></div>
                    <a href="/">Happy</a> <span class="chevron">&nbsp;›&nbsp;</span>
                    <a th:href="@{'/go/'+${post.topic.name}}" th:text="${post.topic.name}">Topic</a>
                    <div class="sep10"></div>
                    <h1 th:text="${post.title}">title</h1>
                    &nbsp;
                    <small class="gray">
                        <a th:href="@{'/member/'+${post.editor.username}}"
                           th:text="${post.editor.username}">username</a> ·
                        <span th:text="${#dates.format(post.createTime,'yyyy/mm/dd hh:mm')}"></span>&nbsp;·&nbsp;<span
                            th:text="${post.pageView}+'次点击'"></span></small>
                </div>
                <div class="cell">
                    <div class="topic_content" th:text="${post.content}">
                    </div>
                </div>
                <div class="topic_buttons">
                    <div class="fr gray f11" style="line-height: 12px; padding-top: 3px;
                    text-shadow: 0px 1px 0px #fff;">
                        <span th:text="${post.pageView}+'次点击'"></span>
                    </div>
                    <a href="" class="tb">加入收藏</a>
                </div>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <div class="fr" style="margin: -3px -5px 0px 0px;">
                        <a th:each="tag:${post.tags}" class="tag" th:href="@{'/tag/'+${tag.name}}">
                            <li class="fa fa-tag" th:text="tag.name"></li>
                        </a>
                    </div>
                    <span class="gray">
                        <span th:text="${post.replyCount}+'&nbsp;回复'"></span>
                        <strong class="snow">|</strong>&nbsp;直到
                        <span th:text="${#dates.format(post.lastReplyTime,'yyyy/MM/dd HH:mm')}"></span>
                    </span>
                </div>
                <div class="cell"
                     th:with="pageNum=${replyPage.getTotalPages()}"
                     th:if="${replyPage.getTotalPages()>1}"
                     th:include="numberNav::copy"></div>
                <div id="r_4224355" class="cell" th:each="reply:${replyPage.getContent()}"
                     th:with="num=${replyPage.getContent().size() - replyPage.getContent().indexOf(reply)}">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody>
                        <tr>
                            <td width="48" valign="top" align="center">
                                <img
                                        th:src="@{'/img/avatar/'+${reply.editor.avatar}}"
                                        class="avatar" border="0" align="default"/></td>
                            <td width="10" valign="top"></td>
                            <td width="auto" valign="top" align="left">
                                <div class="fr">
                                    <div id="thank_area_4224355" class="thank_area"></div>
                                    &nbsp; <a href="#;" onclick="replyOne('SkyTodInfi');">
                                    <img
                                            src="//cdn.v2ex.com/static/img/reply.png" align="absmiddle" border="0"
                                            alt="Reply"/></a> &nbsp;&nbsp; <span class="no" th:text="${num}"></span>
                                </div>
                                <div class="sep3"></div>
                                <strong><a th:href="@{'/member/'+${reply.editor.username}}" class="dark"
                                           th:text="${reply.editor.username}">username</a></strong>&nbsp;
                                &nbsp;<span class="fade small"
                                            th:text="${#dates.format(reply.modifyTime,'yyyy/mm/dd hh:mm')}">time</span>
                                <div class="sep5"></div>
                                <div class="reply_content" th:utext="${reply.content}">

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cell"
                     th:with="pageNum=${replyPage.getTotalPages()}"
                     th:if="${replyPage.getTotalPages()>1}"
                     th:include="numberNav::copy"></div>
            </div>
            <div class="sep20"></div>
            <div class="box" th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="cell">
                    <div class="fr"><a href="#"><strong>↑</strong> 回到顶部</a></div>
                    添加一条新回复
                </div>
                <div class="cell">
                    <form method="post" th:action="@{/postreply}">
                        <textarea name="content" id="Edit"></textarea>
                        <input type="hidden" name="postId" th:value="${post.id}"/>
                        <div class="sep10"></div>
                        <div class="fr">
                            <div class="sep5"></div>
                            <span class="gray">请尽量让自己的回复能够对别人有帮助</span></div>
                        <input type="submit" value="回复" class="super normal button"/>
                    </form>

                </div>

                <div class="inner">
                    <div class="fr"><a href="/">← V2EX</a></div>
                    &nbsp;
                </div>
            </div>
            <div class="sep20"></div>
            <div class="box" th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="inner">
                    <div class="fr">
                    </div>
                    <a href="#;"
                       onclick="if (confirm('你确认需要报告这个主题？')) { location.href = '/report/topic/353778?t=1459946937'; }">报告这个主题</a>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom" th:include="Bottom :: copy"></div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/wangEditor.min.js}"></script>
<script type="text/javascript">
    var editor = new wangEditor('Edit');
    var csrfToken = $("meta[name='_csrf'").attr("content");
    editor.config.uploadHeaders = {'X-CSRF-TOKEN':csrfToken
    };
    editor.config.uploadImgFileName = 'FileName';
    editor.config.uploadImgUrl = '/upload';
    editor.create();
</script>
</body>
</html>
