<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4" lang="zh-CN">

<body>

<div th:fragment="copy">
    <div class="content">
        <div style="padding-top: 6px;">
            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                <tr>
                    <td align="left" width="5%">
                        <a th:href="@{/}" name="top" title="way to explore">
                            <img th:src="@{/img/logo2x.png}" alt="V2EX" align="default" height="30" width="94" border="0"/>
                        </a>
                    </td>
                    <td align="left" width="auto">
                        <div id="Search">
                            <form action="https://www.google.com" onsubmit="return dispatch()" target="_blank">
                                <div th:style="'background-image: url(' + @{/img/123.png} + '); width: 276px; height: 28px; background-size: 276px 28px;  background-repeat: no-repeat; display: inline-block;'">
                                    <input maxlength="40" name="q" id="q" type="text"/>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td style="padding-top: 2px;" align="right" width="80%">
                        <a th:href="@{/}" class="top">首页&nbsp;&nbsp;&nbsp;</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/signup}" class="top">注册&nbsp;&nbsp;&nbsp;</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/signin}" class="top">登录&nbsp;&nbsp;&nbsp;</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{'/member/'+${#authentication.principal.username}}" class="top" th:text="${#authentication.principal.username}+'&nbsp;&nbsp;&nbsp;'"></a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/member/settings}" class="top">设置&nbsp;&nbsp;&nbsp;</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="top">登出&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>